<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<!-- 配置spring默认的连接池 *******************************-->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/data"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean> -->
	
	<!-- 配置DBCP连接池 ***********************************-->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/data"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean> -->
	
	
	<!-- 参数设置到属性文件中jdbc.properties
			第一种 :
	-->
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
          <property name="location" value="classpath:jdbc.properties"></property>
	</bean> -->
	<!-- 第二种 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置C3P0连接池 ***********************************-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	<!-- JDBC CRUD******************************************* -->
	<!-- 定义JDBC模板类 -->
	<!-- <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="userDAO" class="com.random.spring.dao.UserDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean> -->
	
	<!-- Spring事务管理环境搭建 *************************-->
	<!-- 业务层类 -->
	<bean id="accountService" class="com.random.spring.transaction.AccountServiceImpl">
		<!-- 在业务层注入Dao -->
		<property name="accountDAO" ref="accountDAO"/>
		<!-- 第三步:在业务层注入模板类:(模板类管理事务) -->
		
	</bean>
	
	<!-- 持久层类 -->
	<bean id="accountDAO" class="com.random.spring.transaction.AccountDAOImpl">
		<!-- 注入连接池对象,通过连接池对象创建模板 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>